.destinations {
  margin-bottom: 80px;
}

.destinations__title {
  margin-bottom: 46px;
}

.destinations__slider-wrapper {
  position: relative;
}

.destinations__img-slider {
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 24px;
}

.destinations__img-wrapper {
  position: relative;
}

.destinations__img {
  display: block;
  width: 800px;
  height: 800px;
  border-radius: 16px;
}

.destinations__text {
  position: absolute;
  left: 15px;
  bottom: 40px;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 32px;
  line-height: 42px;
  font-weight: 500;
  color: #fff;
}

.destinations__slider-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
}

.destinations__slider-button-container_mobile {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
  margin-bottom: 0;
}

.destinations__slider-button {
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: rgba(242, 120, 92, 0.5);
  border-style: none;
  border-radius: 50%;
}

.destinations__slider-button:hover {
  cursor: pointer;
}

.destinations__slider-button-active {
  background-color: #f2785c;
}

.destinations__slider-button-left-mobile {
  display: none;
}

.destinations__slider-button-right-mobile {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.3}
  to {opacity: 1}
}